

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #f3b39a);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo do Título */
h1 {
    color: green;
    margin-top: 50px;
}

/* Estilo do Parágrafo */
p {
    font-size: 16px;
    color: #353434;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

/* Estilo da Lista de Serviços */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 60%;
    max-width: 400px;
    text-align: left;
    color: #000000;
}

ul li {
    margin: 10px 0;
    font-size: 18px;
    padding: 10px;
    background-color: #0ac778e7;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #f2c6b2;
}

/* Estilo da Imagem  mais borda*/
img {
    width: 400px;
    border: 3px solid #003366;
    margin: 20px auto;
    display: block;
}